<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onPackageSetup" fire="\QUI\Feed\EventHandler::onPackageSetup" />
    <event on="onRequest" fire="\QUI\Feed\EventHandler::onRequest" />
    <event on="onSiteActivate" fire="\QUI\Feed\EventHandler::onSiteChange" />
    <event on="onSiteDeactivate" fire="\QUI\Feed\EventHandler::onSiteChange" />
    <event on="onSiteSave" fire="\QUI\Feed\EventHandler::onSiteChange" />
    <event on="onSiteDestroy" fire="\QUI\Feed\EventHandler::onSiteChange" />
    <event on="onTemplateGetHeader" fire="\QUI\Feed\EventHandler::onTemplateGetHeader" />
</events>