parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @param has invalid value \\(QUI\\\\Interfaces\\\\Projects\\\\Site\\< \\$Site\\)\\: Unexpected token \"\\$Site\", expected type at offset 110$#"
			count: 1
			path: src/QUI/Feed/Feed.php

		-
			message: "#^Parameter \\#2 \\$Site of method QUI\\\\Feed\\\\Interfaces\\\\FeedTypeInterface\\:\\:publishOnSite\\(\\) expects QUI\\\\Projects\\\\Site, QUI\\\\Interfaces\\\\Projects\\\\Site given\\.$#"
			count: 1
			path: src/QUI/Feed/Feed.php

		-
			message: "#^Call to an undefined method QUI\\\\Feed\\\\Interfaces\\\\ChannelInterface\\:\\:setAttribute\\(\\)\\.$#"
			count: 3
			path: src/QUI/Feed/Handler/AbstractSiteFeedType.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 2
			path: src/QUI/Feed/Handler/AbstractSiteFeedType.php

		-
			message: "#^Strict comparison using \\!\\=\\= between 0 and 0 will always evaluate to false\\.$#"
			count: 2
			path: src/QUI/Feed/Handler/AbstractSiteFeedType.php

		-
			message: "#^Call to static method getProduct\\(\\) on an unknown class QUI\\\\ERP\\\\Products\\\\Handler\\\\Products\\.$#"
			count: 1
			path: src/QUI/Feed/Handler/GoogleSitemap/Feed.php

		-
			message: "#^Call to static method getProductIds\\(\\) on an unknown class QUI\\\\ERP\\\\Products\\\\Handler\\\\Products\\.$#"
			count: 1
			path: src/QUI/Feed/Handler/GoogleSitemap/Feed.php

		-
			message: "#^PHPDoc tag @return with type SimpleXMLElement is not subtype of native type QUI\\\\Feed\\\\Utils\\\\SimpleXML\\.$#"
			count: 1
			path: src/QUI/Feed/Handler/RSS/Feed.php

		-
			message: "#^Parameter \\#1 \\$feedId of class QUI\\\\Feed\\\\Feed constructor expects int, string\\|false given\\.$#"
			count: 1
			path: src/QUI/Feed/Manager.php
